# connect with sql

In [7]:
import mysql.connector
import pymysql
import pandas as pd

In [28]:
df=pd.read_csv('final_busdata.csv')

In [16]:
conn = mysql.connector.connect(
    host="127.0.0.1", 
    user="root", 
    password="bike", 
    database="bus"
)
cursor = conn.cursor()

# Create Table

In [19]:
create = '''
CREATE TABLE a (
    state VARCHAR(50) NOT NULL,
    route_name VARCHAR(100) NOT NULL,
    route_link VARCHAR(255) NULL,  -- Assuming the route_link is a string or URL
    busname VARCHAR(50) NOT NULL,
    bustype VARCHAR(100) NOT NULL,
    departing_time VARCHAR(50) NOT NULL,
    duration VARCHAR(50) NOT NULL,
    reaching_time VARCHAR(50) NOT NULL,
    star_rating DECIMAL(3, 2) NULL,
    price DECIMAL(10, 2) NULL,
    seats_available INT NULL
);
'''

In [20]:
cursor.execute(create)
conn.commit()

# Insert Data

In [21]:
insert = """ 
INSERT INTO a (state, route_name, route_link, busname, bustype, departing_time, duration, reaching_time, star_rating, price, seats_available) 
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s)
"""

In [38]:
# Truncate the 'busname' column to fit within the database limit
max_busname_length = 50  # Adjust this based on the column size in the DB
df['busname'] = df['busname'].apply(lambda x: x[:max_busname_length] if isinstance(x, str) else x)

# Then, insert the rows
for index, row in df.iterrows():
    # Convert the row to a tuple (ensure the order of columns matches the table schema)
    row_data = (
        row['state'], row['route_name'], row['route_link'], row['busname'], row['bustype'],
        row['departing_time'], row['duration'], row['reaching_time'],
        row['star_rating'], row['price'], row['seats_available']
    )
    
    # Execute the INSERT query with the row data
    cursor.execute(insert, row_data)

# Commit the changes to the database
conn.commit()

# Close the connection
cursor.close()
conn.close()